@model PortalDeNoticias.Models.ViewModels.NoticiaFormViewModel

@{
    ViewData["Title"] = "Nova";
}

<h1>@ViewData["Title"]</h1>

<h4>Notícia</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Noticia.Titulo" class="control-label"></label>
                <input asp-for="Noticia.Titulo" class="form-control" />
                <span asp-validation-for="Noticia.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.Texto" class="control-label"></label>
                <textarea asp-for="Noticia.Texto" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Noticia.Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.AutorId" class="control-label"></label>
                <select asp-for="Noticia.AutorId"
                        asp-items="@(new SelectList(Model.Autors,"Id", "Nome"))" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Nova" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
